div {
    box-sizing:content-box;
}

.background { 
    background-color:#93C5FF;
    width: 412px;
    height: 915px;
    margin: auto;
    box-shadow: 0px 0px 1px 0px gray;
}

.wrapper {
    background-color: white;
    width: 250px;
    height: 500px;
    margin:auto; 
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px gray;
    
}


.LoginText {
    text-align: center;
}

.title {
    margin-top: 50px;
    margin-left: 20px;
}

.kakao {
    margin-left: 25px;
    width: 150px;
    margin-top: 100px;
    
}

.naver {
    width: 150px;
    margin-top: 10px;
    margin-left: 25px;
}

.otherBtn {
    text-align: center;
}

.faceBook {
    margin-top: 20px;
    margin-right: 30px;
}


/* .loginBtn {
    margin-top: 584px;
    background-color: white;
    width: 262px;
    height: 71;
    margin-left: 75px;
    margin-bottom: 15px;
}


.join {
    background-color: red;
}

.joinBtn {
    margin-left: 75;
} */



