.wrapper {
    width: 412px;
    height: 915px;
    background-image: url('../../assets/svg/battle/battleResult.png');
    background-size: cover;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winner {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 73px;
    text-align: center;
    margin-top: 150px;
    color: white;
    text-shadow:
        -2.5px -2.5px 0 #ffc300,
        2.5px -2.5px 0 #ffc300,
        -2.5px 2.5px 0 #ffc300,
        2.5px 2.5px 0 #ffc300;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.goScoreDetail {
    width: 130px;
    height: 50px;
    margin-right: 10px;
    font-weight: bold;
    background: rgba(217, 217, 217, 0.52);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goBattleList {
    width: 220px;
    height: 50px;
    font-weight: bold;
    color: rgb(249, 249, 249);

    background: #444444;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trophy {
    width: 163px;
    height: 163px;
    margin-top: 80px;
    margin-bottom: 80px;
}

@font-face {
    font-family: 'Inter';
    font-weight: 50;
    src: url('./../../assets/fonts/Inter-Regular.ttf');
}
.resultMessage {
    font-family: 'Inter';

    font-weight: 600;
    font-size: 40px;
    line-height: 73px;
    text-align: center;
    color: white;
    text-shadow:
        -2.5px -2.5px 0 #ffc300,
        2.5px -2.5px 0 #ffc300,
        -2.5px 2.5px 0 #ffc300,
        2.5px 2.5px 0 #ffc300;
}
