.btn {
  background-color: #444444;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.btnRed {
  background-color: #ff4545;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
