/* Character.css */

.wrapper {
  background-color: #93C5FF;
  width: 412px;
  height: 915px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.nicknameText {
  position: absolute;
  right: 10px; 
  top: 10px; 
  margin: 10px; 
  font-size: 24px;
  font-weight: bold; 
  border-radius: 10px; 
  padding: 5px 10px; 
  background-color: rgba(92, 142, 201, 0.2);
  color: #FFFFFF;
}

.shineImage {
  filter: brightness(1.2) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); /* 필요한대로 밝기 값을 조정하세요 */
}

.caloryinfo {
  font-size: 20px;
  margin-top: 20px;
}

.boldText {
  font-weight: bold;
  color: #F0BD01; 
}

.progressbar {
  height: 20px;
  background: linear-gradient(to left,  #FFA800, #FFF500, #80FF00);
  width: 100%;
  border-radius: 10px;
  border: 2px solid #555;
  overflow: hidden;
  position: relative;
  
}

.remainingbar {
  height: 20px;
  background: linear-gradient(to left, #fff, #fff);
  width: 100%;
  /* border-radius: 10px; */
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.5s ease-in-out;
}

.infobar {
  width: 100%;
  height: 40px; 
  background: #FFFFFF; 
  border-radius: 10px;
  border: 2px solid #555;
  position: relative; 
  margin-top: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.infobar p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infobar img {
  height: 20px;
  margin: 0 5px;
}

.progressbar2 {
  margin-top: 150px;
  margin-bottom: 20px;
  overflow: visible;
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.filledcircle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round; 
  transition: stroke-dashoffset 0.3s ease, stroke 0.3s ease; 
}

.nutrienticons {
  display: flex;
  margin-top: 30px;
  justify-content: space-around; 
}

.nutrienticon {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.nutrienticons img {
  width: 35px;
  height: 35px;
}

.nutrientbar {
  width: 60px;
  height: 15px;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.nutrientContainer {
  display: flex;
  justify-content: space-around; 
  margin-left: 15px;
  font-size: 15px;
  color: #6779D6;
}

.remainingbar2 {
  height: 100%;
  background: #5FFF52;
  border-radius: 4px;
  transition: width 0.3s ease;
}
.remainingbar3 {
  height: 100%;
  background: #FAFF00;
  border-radius: 4px;
  transition: width 0.3s ease;
}
.remainingbar4 {
  height: 100%;
  background: #FF2727;
  border-radius: 4px;
  transition: width 0.3s ease;
}




