.wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 600px;
  background-color: #ffc38c;
}
.container {
  display: flex;
  background-color: #ffc38c;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.box {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.positionAbsolute {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.inner-container {
  margin: 0 -5px;
}
.label1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(254, 255, 182, 0.52);
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}
.label2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(182, 229, 255, 0.52);
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}
.label3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(157, 80, 255, 0.15);
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}
.label4 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(168, 80, 31, 0.15);
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}