.wrapper {
  height: 200px;
}

.modalcontent {
  background-color: #40a2e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  /* top: 50%; */
  left: 80%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  z-index: 1001;
}
.modaloverlay {
  margin-right: 100px;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.textarea {
  max-height: 400px;
  min-height: 270px;
  overflow-y: auto;
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 10px; /* 테두리 모서리를 둥글게 만듭니다. */
  padding: 5px; /* 안쪽 여백 추가 */
  font-family: Arial, sans-serif; /* 글꼴 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  resize: vertical; /* 사용자가 수직으로 크기 조절할 수 있도록 설정합니다. */
  background-color: #bbe2ec; /* 배경색을 하늘색으로 설정합니다. */
  padding: 20px;
  margin-top: 20px;
}

.textarea:focus {
  outline: none; /* 포커스시 파란 테두리 제거 */
  border-color: #007bff; /* 포커스시 테두리 색상 변경 */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스시 그림자 효과 추가 */
}

.today {
  font-size: 25px;
  margin-top: 20px;
  background-color: #bbe2ec;
  border-radius: 10px;
}
