.wrapper {
    background-color: #93C5FF;
    width: 412px;
    height: 915px;
    /* margin-top: 20px; */
    /* text-align: center;
    display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center */
    
  }