.container {
  border: 1px solid #fff;
  height: auto;
  min-height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  box-sizing: border-box;
}
.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  box-sizing: content-box;
}
.profile {
  margin-bottom: 40px;
}
.profile img {
  width: 75px;
  height: 75px;
}
.group {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
  padding-right: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  margin-bottom: 14px;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--color-box);
  fill: #f1f1f1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  resize: none;
  overflow: hidden;
}
.input {
  margin-bottom: 36px;
}
.textarea {
  height: 169px;
}
.textarea:focus {
  outline: none;
}

.btn {
  /* margin: 0px 16px 20px 16px; */
  margin-right: 16px;
  margin-left: 16px;
  height: 50px;
  max-width: 100%;
  width: 374px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 110px;
}
